<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Registrazione - Traduzioni Django Italia</title>
    <link rel="stylesheet" href="https://static.djangoproject.com/css/output.3e9df608c798.css">
</head>
<body id="homepage" class="homepage">
<header id="top">
  <div class="container container--flex--wrap--mobile">
    <a class="logo" href="/">Django Italia Traduzioni</a>
    <p class="meta">The web framework for perfectionists with deadlines.</p>
  </div>
</header>

<section class="copy-banner">
  <div class="container">
    <h1>Registrazione</h1>
    {% if form.errors %}
        <p>Errore: {{ form.non_field_errors }}</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="cta">Registrati</button>
    </form>
    <p>Hai già un account? <a href="{% url 'account_login' %}">Login</a></p>
  </div>
</section>
</body>
</html>